{% extends 'navbar/navbar.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Confirm Logout</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">Are you sure you want to log out?</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary">Yes, Logout</button>
                            <a href="{% url 'chat' %}" class="btn btn-secondary ml-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 